.newRecipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: dodgerblue;
}
.divisor{
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 2rem;
}
.historyTag{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: dodgerblue;
}
.divisorHistory{
    width: 100%;
    height: 1px;
    background-color: white;
}
.historyContainer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    
}
.newRecipeForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: space-around;
}
.newRecipeMainTitle, .historyTitle{
    text-align: center;
    color: white;
}
.newRecipeTitle{
    text-align: center;
    color: white;
    margin-top: 30px;

}  

.newRecipeLabel{
    margin: 0;
}
.mashTotal{
    font-size: 18px;
    margin-top: 0;
    font-weight: bold;
    color: white;
    text-align: center;
}
.error{
    color: red;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
}
.startButton{
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
    border: none;
    font-size: 50px;
    color: white;
}
.stopButton{
    display: none;
    margin-top: 0;
    margin-bottom: 0;
    background-color: transparent;
    border: none;
    font-size: 50px;
    color: white;
}

input{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
    color: black;

}
.createButton{
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(238,231,40,0.8863109048723898) 100%);
    color: black;
    margin-bottom: 5rem;
    margin-top: 5rem;
}
.recipeTag{
    background-color: dodgerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.recipeInfo{
    color: white;
    font-size: 20px;
}
.history{
    width: 100%;
}
.historyItemLeft{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.historyInfo{
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.historyItem{
    width: 100%;
    
}
a{
    text-decoration: none;
    color: white;
}